.main-div-of-dashboard{
    /* background-image: linear-gradient(43deg, #4159d070 0%, #C850C0 46%, #FFCC70 100%);  */
    /* filter: blur(20px); */
    margin-top: 150px;
    /* background-color: rgba(0, 0, 255, 0.363); */
    /* color: white; */
}

.menu-bar-dashboard{
    /* margin: 0px 200px; */
    width: 100%;
    /* border: 1px solid black; */
}

.main-div-for-all-option-dashboard{
    display: flex;
    /* gap: 30px; */
    justify-content: center;
}

.component-container-dashboard{
    /* border: 1px solid black; */
    margin: 15px 300px;
}
